/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for humans */

a {
  color: blue;
  text-decoration: none; /* no underlines on links */
}

a: hover {
  color: red;
  text-decoration: none;
}

body {
  /* Example: Soft two-color gradient background */
  background: linear-gradient(45deg, #2193b0, #6dd5ed);
  
  /* text color, font, alignment */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
  /* remove browser default spacing */
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

h2 {
  /* fixed the missing semicolon */
  color: #075AAB;
  
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

h3 {
  margin-bottom: 0;
  margin-top: 2rem;
}

h4 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h5 {
  margin-top: 0.5rem;
}

hr {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* this controls how the bullet points in the resume page look */
ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

